.article {
    background-color: #fff;
    overflow: hidden;
    padding: 1.25rem;
}
.cell p {
    word-break: 'break-all';
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.cell img {
    height: 270px;
}

@media screen and (min-width: 75em) {
    .article {
        padding: 2.5rem;
    }
}
