.category-thumb-swoosh {
    margin-bottom: 50px;
    display: flex;
    // width: 100%;
    max-width: 320px;
    p {
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}
// .slick-track {
//     display: flex;
// }
